{% extends 'layout.html' %}

{% block body %}
    {% include 'sponsor_nav.html'   %}
        <form method="POST">
        <label for="name" class="form-label">Campaign Name:</label>
        <input type="text" id="name" name="name" class="form-control" required>
        <label for="desc" class="form-label">Campaign Description:</label>
        <input type="text" id="desc" name="desc" class="form-control" required>
        <label for="goal" class="form-label">Campaign Goal:</label>
        <input type="number" id="goal" name="goal" class="form-control" required>
        <label for="start" class="form-label">Campaign Start Date:</label>
        <input type="date" id="start" name="start" class="form-control" required>
        <label for="end" class="form-label">Campaign End Date:</label>
        <input type="date" id="end" name="end" class="form-control" required>
        
        
        <input type="submit" value="Submit" class="btn btn-success">
        
{% endblock %}