{% extends 'layout.html' %}

{% block body %}
{% include 'sponsor_nav.html'   %}

<form    method="POST">
    <label for="name" class="form-label">Ad Request Name:</label>
    <input type="text" id="name" name="name" class="form-control" required>
    <label for="desc" class="form-label">Ad Request Description:</label>
    <input type="text" id="desc" name="desc" class="form-control" required>
    <label for="requires" class="form-label">Ad Request Requirements:</label>
    <input type="text" id="requires" name="requires" class="form-control" required>
    <label for="amount" class="form-label">Amount:</label>
    <input type="text" id="amount" name="amount" class="form-control" required>
    <label for="campaigni" class="form-label">Select Campaign:</label>
    <input type="text" id="campaigni" name="campaigni" class="form-control" required>
    
    <input type="submit" value="Submit" class="btn btn-success">
    
{% endblock %}