<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('influencer_main')}}">Influencer Dashboard</a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link " href="{{url_for('influencer_main')}} ">Home</a>
          <a class="nav-link" href="{{url_for('influencer_profile')}}">Profile</a>
          <a class="nav-link" href="{{url_for('influencer_stats')}}">Stats</a>
          <a class="nav-link " href="{{url_for('login')}} ">Logout</a>
        </div>
      </div>
    </div>
  </nav>