<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('iregister')}}">Register as Influencer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('sregister')}}">Register as Sponsor</a>
          </li>
          
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>