<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('sponsor_main')}}">Sponsor Dashboard</a>
      
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{{url_for('sponsor_main')}}">Home</a>
          <a class="nav-link" href="{{url_for('create_campaign')}}">Create Campaign</a>
          <a class="nav-link" href="{{url_for('create_ad_requests')}}">Create Ad Requests</a>
          <a class="nav-link" href="{{url_for('find_inf')}}">Find Influencers</a>
          <a class="nav-link" href="{{url_for('sponsor_stats')}}">Stats</a>
          <a class="nav-link" href= "{{url_for('login')}}">Logout</a>
        </div>
      </div>
    </div>
  </nav>